<header class="header">
  <div class="row header_wraper">
    <div class="col-md-3 header_title">
      <h3 class="text-gray">Test COVID-19</h3>
    </div>
    <div class="col-md-9 d-flex flex-row justify-content-end header_nav">
      <div class="user_wrapper">
        <% if user_signed_in? %>
          <div class="current-traveler pt-2 pb-2">
            <div class="container">
              <%= fa_icon "user-circle-o" %> 
              <%= link_to admin_edit_user_path, class:"dark-link" do %>
                <span class="ml-1"><%= t("roles.#{current_user.role}")%> - <%= current_user.full_name.titleize %></span> - 
                <span><%= current_user.airport&.name %></span>
              <% end %>
              <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete, class:'btn btn-outline-primary btn-sm' %> </li>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>