<div class="form-group">
  <%= f.label 'Pays de départ',for: :from_country_iso_code %><span class="text-danger"> *</span><br>
  <%= f.select(:from_country_iso_code, countries_options, {prompt:"Choisir"}, {class:"form-control"})%>
  <span class="error"><%= covid_test.errors.messages[:"travel.from_country_iso_code"].join(', ') if covid_test.errors.any? %></span>
</div>
<div class="form-group">
  <%= f.label "Pays d'arrivée", for: :destination_country_iso_code %><span class="text-danger"> *</span><br>
  <%= f.select(:"destination_country_iso_code", countries_options, {prompt:"Choisir"}, {class:"form-control"})%>
  <span class="error"><%= covid_test.errors.messages[:"travel.destination_country_iso_code"].join(', ') if covid_test.errors.any? %></span>
</div>

<div class="form-group">
  <%= f.label 'Date de départ', for: :departure_date %><span class="text-danger"> *</span><br>
  <div class="date-select">
    <%= f.date_select :departure_date, {:start_year => Time.now.year, prompt: true}, {class:"form-control"} %>
  <span class="error"><%= covid_test.errors.messages[:"travel.departure_date"].join(', ') if covid_test.errors.any? %></span>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Vol', for: :flight %><span class="text-danger"> *</span><br>
  <%= f.text_field :flight, class:"form-control" %>
  <span class="error"><%= covid_test.errors.messages[:"travel.flight"].join(', ') if covid_test.errors.any? %></span>
</div>
  <%= f.hidden_field :traveler_id %>
<div class="form-group">
  <%= f.label 'Compagnie', for: :company %><span class="text-danger"> *</span><br>
  <%= f.select :company, companies_options, {prompt: "Choisir"}, {class:'form-control'} %>
  <span class="error"><%= covid_test.errors.messages[:"travel.company"].join(', ') if covid_test.errors.any? %></span>
</div>