<p id="notice"><%= notice %></p>

<h1>Travelers</h1>

<table>
  <thead>
    <tr>
      <th>Uer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travelers.each do |traveler| %>
      <tr>
        <td><%= traveler.uer_id %></td>
        <td><%= link_to 'Show', traveler %></td>
        <td><%= link_to 'Edit', edit_traveler_path(traveler) %></td>
        <td><%= link_to 'Destroy', traveler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traveler', new_traveler_path %>
