<div class="alert alert-success text-center" role="alert">
  <h3 class="font-weight-bold">Votre paiement a été reçu</h3>
  <p class=" mt-4 text-center">Votre paiement pour le test COVID 19 a été reçu.Vous trouverez ci-dessous les détails.</p>
</div>

  <p class="recap-line">
    <span class="font-weight-bold">Client:</span>
    <%= covid_test.travel.traveler.full_name.titleize %>
  </p>
  <p class="recap-line">
    <span class="font-weight-bold">Nº Téléphone:</span>
    <%= covid_test.travel.traveler.phone_number %>
  </p>

  <p class="recap-line">
    <span class="font-weight-bold">Vol:</span>
    <%= covid_test.travel.flight %>
  </p>
  <p class="recap-line">
    <span class="font-weight-bold">Date de départ:</span>
    <%= covid_test.travel.departure_date.strftime("%d/%m/%Y") %>
  </p>

    <p class="recap-line">
    <span class="font-weight-bold">Destination:</span>
    <%= covid_test.travel.from_country.name %> - <%= covid_test.travel.destination_country.name %>
  </p>

  <p class="recap-line">
    <span class="font-weight-bold">Nº Passeport:</span>
    <%= covid_test.travel.traveler.passport_number %>
  </p>
  <p class="recap-line">
    <span class="font-weight-bold">Montant payé:</span>
   <strong><%= number_to_currency(covid_test.amount, :unit => covid_test.currency, :precision => 0)  %></strong>
  </p>
   <% if covid_test.payment_qr_code %>
      <div class="col-md-6">
       <span class="font-weight-bold">QR Code</span>
        <p class="text-center qr_code_to_scan">
        <img src="<%= url_for(covid_test.payment_qr_code) %>" />
        </p>
      </div>
    <% end %>
    <% if covid_test.barcode %>
      <div class="col-md-6">
       <span class="font-weight-bold">Code barre</span>
        <p class="text-center">
        <img src="<%= url_for(covid_test.barcode) %>" />
        </p>
      </div>
    <% end %>
</div>