<div class="container">
  <div class="d-flex flex-row justify-content-between mb-4">
    <h4>Agents de guichet</h4>
    <%= link_to new_admin_counter_agent_path do %>
       Nouvel agent de guichet
    <% end %>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Aeroport</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @admin_counter_agents.each do |admin_counter_agent| %>
        <tr>
          <td><%= admin_counter_agent.user.first_name %></td>
          <td><%= admin_counter_agent.user.last_name %></td>
          <td><%= admin_counter_agent.user.email %></td>
          <td><%= admin_counter_agent.user.phone_number %></td>
          <td><%= admin_counter_agent.user.airport&.name %></td>
          <td><%= link_to 'Voir', [:admin, admin_counter_agent] %></td>
          <td><%= link_to 'Modifier', edit_admin_counter_agent_path(admin_counter_agent) %></td>
          <td><%= link_to 'Supprimer', [:admin, admin_counter_agent], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @admin_counter_agents %>
</div>
